textx
dataclasses-json
clang==18.1.8
libclang
parameterized
coverage
pyperclip
pytest-bdd
pytest-cov
pytest-mock
pytest-black
pytest-profiling
tree-sitter
tree-sitter-python
tree-sitter-cpp
tree-sitter-java
autopep8